.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--hidden-modal-z-index);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    transform: scale(0.5);
    transition: all 0.2s;
    max-width: 60%;
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);
}

.isOpening {
    transform: scale(1);
}

.isClosing > .content {
    transform: scale(0.5);
}

.close {
    position: relative;
    width: min-content;
    top: 60px;
    left: 660px;
    cursor: pointer;
    z-index: 100;
}