.OrderDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 40px;
    background-color: var(--bg-main-color);
    border: 1px solid rgb(76 76 255 / 20%);
    box-shadow: 0 24px 32px rgb(0 0 0 / 4%), 0 16px 24px rgb(0 0 0 / 4%),
                0 4px 8px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
    border-radius: 40px;
    min-width: 720px;
    min-height: 300px;
}

@keyframes vertex {
    from {
        transform: rotate(0);
    }
  
    to {
        transform: rotate(1turn);
    }
}
  
@keyframes vertex-back {
    from {
        transform: rotate(1turn);
    }
  
    to {
        transform: rotate(0);
    }
}
  
  
.wrapper {
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
}
  
.icon {
    animation-duration: 10s;
    animation-name: vertex;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: -22px;
    position: absolute;
}

.iconMedium {
    animation-name: vertex-back;
    left: -42px;
}
  
.iconSmall {
    animation-name: none;
}

.iconLarge {
    left: -37px;
}