.OwnOrderDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px;
    width: 720px;
}

.modal {
    background-color: var(--bg-main-color);
    border: 1px solid rgb(76 76 255 / 20%);
    box-shadow: 0 24px 32px rgb(0 0 0 / 4%), 0 16px 24px rgb(0 0 0 / 4%),
                0 4px 8px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
    border-radius: 40px;
}
  
.number {
    margin-bottom: 40px;
}
  
.title {
    margin-bottom: 12px;
}
  
.status {
    color: #0CC;
    margin-bottom: 30px;
}
  
.ingredients {
    margin: 24px 0 40px;
    width: 100%;
    max-height: calc(100vh - 550px);
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  
.ingredients::-webkit-scrollbar {
    width: 8px;
}
  
.ingredients::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--bg-scrollbar-thumb);
}
  
.ingredients::-webkit-scrollbar-track {
    background-color:var(--bg-scrollbar-track);
}
  
.description {
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
    gap: 9px;
}