.content {
  max-width: 1240px;
  max-height: calc(100vh - 128px);
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: 1fr;
  gap: 40px;
}
