.IngredientPictures {
    display: flex;
}
  
.ingredient {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background: linear-gradient(45deg, var(--accent-color-secondary), var(--accent-color));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
  
.ingredient:nth-child(2) {
    position: relative;
    right: 20px;
    z-index: 5;
}
  
.ingredient:nth-child(3) {
    position: relative;
    right: 40px;
    z-index: 4;
}
  
.ingredient:nth-child(4) {
    position: relative;
    right: 60px;
    z-index: 3;
}
  
.ingredient:nth-child(5) {
    position: relative;
    right: 80px;
    z-index: 2;
}
  
.ingredient:nth-child(6) {
    position: relative;
    right: 100px;
    z-index: 1;
}
  
.img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-position: center;
    object-fit: cover;
    background-color: var(--bg-main-color);
}
  
.overlay {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: rgb(28 28 33 / 60%);
    color: var(--overlay-color-secondary);
    position: relative;
    right: 162px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}