.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 24px 0 80px;
}
  
.link {
    color: var(--accent-color);
    cursor: pointer;
    transition: all var(--transition-time-hover) linear;
}
  
.link:hover {
    opacity: var(--opacity-hover);
}