.NavbarLink {
    width: fit-content;
    padding: 16px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--text-color-secondary);
    transition: all 0.2s linear;
}

.NavbarLink svg{
    transition: all 0.2s linear;
}

.NavbarLink:not(.active):hover {
    color: var(--text-color-primary);
}

.NavbarLink:not(.active):hover svg {
    fill: var(--text-color-primary);
}

.NavbarLink svg {
    fill: var(--text-color-secondary);
}

.active {
    color: var(--text-color-primary);
}

.NavbarLink,.active svg {
    fill: var(--text-color-primary);
}