.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 60px;
}

.title {
  width: 100%;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: contain;
  object-position: center;
}

.name {
  padding: 6px 0 32px;
}

.compound {
  display: flex;
  gap: 20px;
}

.bju {
  width: 120px;
  text-align: center;
}
