.container {

  max-width: 1280px;
  min-width: 1060px;
  width: 100%;
  height: calc(100vh - 90px);
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  justify-content: center;
}

.link {
  color: #2c3661;
  cursor: pointer;
  border-bottom: 3px solid #2c3661;
}

.image {
  max-width: 550px;
}
