.BurgerOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: calc(100vh - var(--navbar-height) - 60px);
    width: 600px;
}

.toppings {
    max-height: calc(100vh - var(--navbar-height) - 375px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
    width: 100%;
}

.toppings::-webkit-scrollbar {
    width: 8px;
  }
  
.toppings::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--bg-scrollbar-thumb);
}
  
.toppings::-webkit-scrollbar-track {
    background-color: var(--bg-scrollbar-track);
}

.widthIngredient {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    width: 558px;
    padding-right: 4px;
}

.cards {
    align-items: flex-end;
}

.price {
    align-self: flex-end;
}

.ingredients {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid var(--bg-body-color);
    width: 100%;    
}

.isHover {
    border: 2px solid var(--accent-color);
    border-radius: 24px;
}